<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.PartyEarlyWarningMapper">
  <resultMap id="BaseResultMap" type="com.xr.model.PartyEarlyWarning">
    <!--@mbg.generated-->
    <!--@Table Party_Early_Warning-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="contributor" jdbcType="VARCHAR" property="contributor" />
    <result column="creationtime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="registerid" jdbcType="VARCHAR" property="registerid" />
    <result column="creatorname" jdbcType="VARCHAR" property="creatorname" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, content, contributor, creationtime, registerid, creatorname, `state`
  </sql>
  <select id="selectByExample" parameterType="com.xr.model.PartyEarlyWarningExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Party_Early_Warning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from Party_Early_Warning
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from Party_Early_Warning
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xr.model.PartyEarlyWarningExample">
    <!--@mbg.generated-->
    delete from Party_Early_Warning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xr.model.PartyEarlyWarning" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into Party_Early_Warning (title, content, contributor, 
      creationtime, registerid, creatorname, 
      `state`)
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{contributor,jdbcType=VARCHAR}, 
      #{creationtime,jdbcType=TIMESTAMP}, #{registerid,jdbcType=VARCHAR}, #{creatorname,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xr.model.PartyEarlyWarning" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into Party_Early_Warning
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="contributor != null">
        contributor,
      </if>
      <if test="creationtime != null">
        creationtime,
      </if>
      <if test="registerid != null">
        registerid,
      </if>
      <if test="creatorname != null">
        creatorname,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="contributor != null">
        #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerid != null">
        #{registerid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xr.model.PartyEarlyWarningExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from Party_Early_Warning
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update Party_Early_Warning
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.contributor != null">
        contributor = #{record.contributor,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtime != null">
        creationtime = #{record.creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.registerid != null">
        registerid = #{record.registerid,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorname != null">
        creatorname = #{record.creatorname,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        `state` = #{record.state,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update Party_Early_Warning
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      contributor = #{record.contributor,jdbcType=VARCHAR},
      creationtime = #{record.creationtime,jdbcType=TIMESTAMP},
      registerid = #{record.registerid,jdbcType=VARCHAR},
      creatorname = #{record.creatorname,jdbcType=VARCHAR},
      `state` = #{record.state,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.model.PartyEarlyWarning">
    <!--@mbg.generated-->
    update Party_Early_Warning
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="contributor != null">
        contributor = #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        creationtime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registerid != null">
        registerid = #{registerid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        creatorname = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.model.PartyEarlyWarning">
    <!--@mbg.generated-->
    update Party_Early_Warning
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      contributor = #{contributor,jdbcType=VARCHAR},
      creationtime = #{creationtime,jdbcType=TIMESTAMP},
      registerid = #{registerid,jdbcType=VARCHAR},
      creatorname = #{creatorname,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>