<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xr.mapper.PartyInformationMapper">
  <resultMap id="BaseResultMap" type="com.xr.model.PartyInformation">
    <!--@mbg.generated-->
    <!--@Table Party_Information-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info_title" jdbcType="VARCHAR" property="infoTitle" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="info_type" jdbcType="TINYINT" property="infoType" />
    <result column="info_content" jdbcType="VARCHAR" property="infoContent" />
    <result column="info_issue_date" jdbcType="TIMESTAMP" property="infoIssueDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, info_title, `source`, info_type, info_content, info_issue_date, create_date, 
    create_id, create_name, `status`
  </sql>
  <select id="selectByExample" parameterType="com.xr.model.PartyInformationExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Party_Information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from Party_Information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from Party_Information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xr.model.PartyInformationExample">
    <!--@mbg.generated-->
    delete from Party_Information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xr.model.PartyInformation">
    <!--@mbg.generated-->
    insert into Party_Information (id, info_title, `source`, 
      info_type, info_content, info_issue_date, 
      create_date, create_id, create_name, 
      `status`)
    values (#{id,jdbcType=INTEGER}, #{infoTitle,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{infoType,jdbcType=TINYINT}, #{infoContent,jdbcType=VARCHAR}, #{infoIssueDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}, #{createName,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xr.model.PartyInformation">
    <!--@mbg.generated-->
    insert into Party_Information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="infoTitle != null">
        info_title,
      </if>
      <if test="source != null">
        `source`,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="infoContent != null">
        info_content,
      </if>
      <if test="infoIssueDate != null">
        info_issue_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="infoTitle != null">
        #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=TINYINT},
      </if>
      <if test="infoContent != null">
        #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoIssueDate != null">
        #{infoIssueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xr.model.PartyInformationExample" resultType="java.lang.Long">
    <!--@mbg.generated-->
    select count(*) from Party_Information
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbg.generated-->
    update Party_Information
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.infoTitle != null">
        info_title = #{record.infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null">
        `source` = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.infoType != null">
        info_type = #{record.infoType,jdbcType=TINYINT},
      </if>
      <if test="record.infoContent != null">
        info_content = #{record.infoContent,jdbcType=VARCHAR},
      </if>
      <if test="record.infoIssueDate != null">
        info_issue_date = #{record.infoIssueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null">
        create_id = #{record.createId,jdbcType=INTEGER},
      </if>
      <if test="record.createName != null">
        create_name = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbg.generated-->
    update Party_Information
    set id = #{record.id,jdbcType=INTEGER},
      info_title = #{record.infoTitle,jdbcType=VARCHAR},
      `source` = #{record.source,jdbcType=VARCHAR},
      info_type = #{record.infoType,jdbcType=TINYINT},
      info_content = #{record.infoContent,jdbcType=VARCHAR},
      info_issue_date = #{record.infoIssueDate,jdbcType=TIMESTAMP},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      create_id = #{record.createId,jdbcType=INTEGER},
      create_name = #{record.createName,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xr.model.PartyInformation">
    <!--@mbg.generated-->
    update Party_Information
    <set>
      <if test="infoTitle != null">
        info_title = #{infoTitle,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        `source` = #{source,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=TINYINT},
      </if>
      <if test="infoContent != null">
        info_content = #{infoContent,jdbcType=VARCHAR},
      </if>
      <if test="infoIssueDate != null">
        info_issue_date = #{infoIssueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xr.model.PartyInformation">
    <!--@mbg.generated-->
    update Party_Information
    set info_title = #{infoTitle,jdbcType=VARCHAR},
      `source` = #{source,jdbcType=VARCHAR},
      info_type = #{infoType,jdbcType=TINYINT},
      info_content = #{infoContent,jdbcType=VARCHAR},
      info_issue_date = #{infoIssueDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      create_name = #{createName,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>